{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- description -->
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='img/calculator.png')}}" alt="" width="72"
            height="72">
        <h2>올리고 계산기</h2>
        <p class="lead">
            DNA 서열을 입력하면 알아서 계산합니다.
        </p>
    </div>
    <div class="row">
        <!-- show_results  -->
        <div class="col-md-4 order-md-2 mb-4">
            {% if result != None %}
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Results</span>
                <!-- <span class="badge badge-secondary badge-pill">3</span> -->
            </h4>

            <ul class="list-group mb-3">
                {% for key, value in result.iteritems() %}
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">
                            {{ key|e }}
                        </h6>
                        <p>
                            {{ value|e }}
                        </p>
                       
                    </div>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <!-- inputform -->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Input section</h4>
            <form method=post action="">
                {{form.csrf_token}}
                <div class="mb-3">
                    <label>분석할 DNA 서열</label>
                    <div class="row">
                            {{ form.target_seq(class="form-control") }}
                    </div>
                </div>
                <hr class="mb-4">
                {{ form.submit(class="btn btn-primary btn-lg btn-block")}}
                <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate!</button> -->
            </form>
        </div>

    </div>

</div>

{% endblock %}