{% extends "base.html" %}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-0 text-center bg-light portfolio-1 wow fadeIn">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-light-">Taeyoon <strong>Kim</strong></h1>
        <p class="lead font-weight-normal">
        하루 종일 지속되는 배터리를 탑재하고, 어떤 일도 거뜬한 만능이랍니다.
        </p>
        <a class="btn btn-outline-secondary btn-sm" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInRight">
        <div class="col-md-6 bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Summary1</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
        </div>
        <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Summary2</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
        </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 portfolio-2 wow fadeInUp" style="height: 200px;">
</div>
    
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInLeft">
    <div class="col-md-6 bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden ">
        <div class="my-3 py-3">
            <h2 class="display-5">Structural biology</h2>
            <p class="lead">
                Form follows function.
            </p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="my-2 img-responsive" src="{{ url_for('static', filename='img/portfolio_1.png')}}" alt="Image1" width="280" height="280">
        </div>
    </div>
    <div class="col-md-6 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5 ">500% 향상</h2>
            <p class="lead text-muted">And an even wittier subheading.</p>
            <h2 class="display-5 ">subtitle</h2>
            <p class="lead text-muted">And an even wittier subheading.</p>
            <h2 class="display-5 ">subtitle</h2>
            <p class="lead text-muted">And an even wittier subheading.</p>
            
        </div>
        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInRight">
    <div class="col-md-6 bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Computer science</h2>
            <p class="lead">Better, faster and more.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="my-2 img-responsive" src="{{ url_for('static', filename='img/portfolio_2.png')}}" alt="Image2" width="280" height="280">
        </div>
    </div>
    <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Python</h2>
            <p class="lead">인생은 짧습니다. 파이썬을 씁니다.</p>
            <h2 class="display-5 text-muted">Javascript</h2>
            <p class="lead text-muted">웹이 미래입니다.</p>
            <h2 class="display-5 text-muted">R</h2>
            <p class="lead text-muted">통계분석의 고전역학.</p>
            <h2 class="display-5 text-muted">Julia</h2>
            <p class="lead text-muted">나도 까먹는 힙한 코딩.</p>
        </div>
        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 portfolio-3 wow fadeInUp" style="height: 200px;">
    </div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInLeft">
    <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <blockquote class="blockquote text-center">
            <p class="mb-0">
                TRY AND FAIL, BUT DON'T FAIL TO TRY.
            </p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light portfolio-head wow fadeIn">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-light-">Second section </h1>
            <p class="lead font-weight-normal">
            두번째 섹션입니다.
            </p>
            <!-- <a class="btn btn-outline-secondary btn-sm" href="#">Coming soon</a> -->
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInRight">
    <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="col-md-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 wow fadeInUP">
        <div class="col-md-12 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            </div>
        </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="col-md-4 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden wow flipInX">
            <div class="my-3 p-3">
                <h2 class="display-5">무료 배송</h2>
                <p class="lead text-muted">And an even wittier subheading.</p>
            </div>
        </div>
        <div class="col-md-4 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden wow flipInX">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead text-muted">And an even wittier subheading.</p>
            </div>
        </div>
        <div class="col-md-4 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden wow flipInX">
                <div class="my-3 py-3">
                    <h2 class="display-5">Another headline</h2>
                    <p class="lead text-muted">And an even wittier subheading.</p>
                </div>
            </div>
    </div>


{% endblock %} 
